
body{background-color: #e3d893;}

header > * {
	
	
	text-align: center;
}

#headerTitel{
	
	font-size: 2em;
	color:white;
	
}

a {
	
	text-decoration: none;
	color: inherit;
}

a:visited{
	
	color: #714639;
	text-transform: uppercase;
	
}

table#wijnInfo td{width: 10em;}

.fout{
	
	color:red;
	font-weight: bold;
}