
body{background-color: #e3d893;}

header > * {
	
	
	text-align: center;
}

#headerTitel{
	
	font-size: 2em;
	color:white;
	
}

a {
	
	text-decoration: none;
	color: inherit;
}

a:visited{
	
	color: #714639;
	text-transform: uppercase;
	
}

table#wijnInfo td{width: 10em;}
table#mandjeOverzicht{  border-collapse: collapse;}
table#mandjeOverzicht td,th{text-align: right; border: 1px solid #714639}
table#mandjeOverzicht tr:first-child{background-color: #d6b7ad}

#grandTotal{font-weight:bold; letter-spacing: 0.15em; background-color: #afd3b0;}

.invoerfout{
	
	color:red;
	font-weight: bold;
}
